.about {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.5466561624649859) 0%,
    rgba(230, 254, 231, 1) 100%
  );
  @extend %container;
  & p {
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 1.2px;
    text-align: justify;
    // text-indent: 30px;
    font-weight: normal;

    @include md-min {
      font-size: 20px;
    }

    @include md-sm {
      font-size: 18px;
    }

    @include sm-xs {
      font-size: 16px;
    }

    @include xs-xx {
      font-size: 14px;
    }
  }

  &-title {
    padding-top: 25px;
    padding-bottom: 50px;
    font-size: 36px;
    font-weight: 900;
    text-align: center;

    @include md-sm {
      padding-top: 12px;
      padding-bottom: 15px;
    }
  }

  &-container {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "p i";
    gap: 50px;


    @include md-sm {
      grid-template-columns: 1fr;
      grid-template-areas: "i" "p";
    }

    @include xs-xx {
      grid-template-columns: 1fr;
      grid-template-areas: "i" "p";
    }

    &__content {
      margin: 50px 0;
      padding-top: 25px;
      padding-bottom: 50px;
      grid-area: p;

      @include md-sm {
        margin: 0;
        padding-top: 0;
        padding-bottom: 20px;
      }
  
      @include xs-xx {
        margin: 0;
        padding-top: 0;
        padding-bottom: 10px;
      }
    }

    &__img {
      grid-area: i;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      align-content: center;
    }
  }

  &-image {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 5px 2px rgba(19, 2, 53, 0.6);
   
  }
}
